<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>

        <ion-title>
            <h1>{{ 'core.login.connecttomoodle' | translate }}</h1>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="openSettings()" [ariaLabel]="'core.settings.appsettings' | translate">
                <ion-icon slot="icon-only" name="fas-gear" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <div class="list-item-limited-width">
        <div class="ion-text-center ion-padding ion-margin-bottom core-login-site-logo">
            <img src="assets/img/login_logo.png" class="avatar-full login-logo" [alt]="'core.login.logoof' | translate: { $a: appName }">
        </div>
        <!-- URL input and site selection removed - hardcoded to https://eduvestra.com -->
        <!-- All site URL related UI elements are hidden -->
    </div>
</ion-content>

<!-- Template site selector. -->
<ng-template #sitelisting let-site="site">
    <ion-item button (click)="connect(site.url, $event)" [class]="site.className" [attr.aria-label]="site.name" [detail]="true">
        @if (siteFinderSettings.displayimage) {
            <ion-thumbnail slot="start">
                @if (site.imageurl) {
                    <img [url]="site.imageurl" core-external-content onError="this.src='assets/icon/icon.png'" alt="" role="presentation">
                }
                @if (!site.imageurl) {
                    <img src="assets/icon/icon.png" class="core-login-default-icon" alt="" role="presentation">
                }
            </ion-thumbnail>
        }
        <ion-label>
            @if (site.title) {
                <p class="item-heading ion-text-wrap">{{site.title}}</p>
            }
            @if (displaySiteUrl(site.url)) {
                <p>{{site.noProtocolUrl}}</p>
            }
            @if (site.location) {
                <p>{{site.location}}</p>
            }
        </ion-label>
    </ion-item>
</ng-template>
