<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate" />
        </ion-buttons>
        <ion-title>
            <h1>{{ 'core.settings.synchronization' | translate }}</h1>
        </ion-title>
        <ion-buttons slot="end">
            <core-navbar-buttons>
                <ion-button fill="clear" (click)="showInfo()" [ariaLabel]="'core.info' | translate">
                    <ion-icon name="fas-circle-info" slot="icon-only" aria-hidden="true" />
                </ion-button>
            </core-navbar-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <core-loading [hideUntil]="sitesLoaded" placeholderType="column" placeholderHeight="128px" [placeholderLimit]="8">
        <div class="limited-width">

            <!-- Sync Settings Card -->
            <div class="core-settings-card">
                <span class="item-heading">{{ 'core.settings.syncsettings' | translate }}</span>

                <ion-item class="item-lines-none">
                    <ion-label class="ion-text-wrap">{{ 'core.settings.syncdatasaver' | translate }}</ion-label>
                    <ion-toggle [(ngModel)]="dataSaver" (ngModelChange)="syncOnlyOnWifiChanged()" slot="end" />
                </ion-item>
            </div>

            <!-- Warning Card -->
            @if (!isOnline() || (dataSaver && limitedConnection())) {
                <ion-card class="core-warning-card">
                    <ion-item class="ion-text-wrap" lines="none">
                        <ion-icon name="fas-triangle-exclamation" slot="start" aria-hidden="true" />
                        <ion-label>
                            @if (isOnline() && dataSaver && limitedConnection()) {
                                {{ 'core.settings.connectwifitosync' | translate }}
                            }
                            @if (!isOnline()) {
                                {{ 'core.settings.connecttosync' | translate }}
                            }
                        </ion-label>
                    </ion-item>
                </ion-card>
            } @else {

                <!-- Accounts List Card -->
                <div class="core-settings-card">
                    <span class="item-heading">{{ 'core.accounts' | translate }}</span>

                    <core-sites-list [accountsList]="accountsList">
                        <ng-template #siteLabel let-site="site">
                            @if (site.loggedOut) {
                                <p class="text-danger">{{ 'core.settings.logintosync' | translate }}</p>
                            }
                        </ng-template>

                        <ng-template #siteItem let-site="site">
                            @if (!site.loggedOut) {
                                <core-button-with-spinner [loading]="isSynchronizing(site.id)" slot="end">
                                    <ion-button fill="clear" (click)="synchronize(site.id)"
                                        [ariaLabel]="'core.settings.synchronizenow' | translate">
                                        <ion-icon name="fas-rotate" slot="icon-only" aria-hidden="true" />
                                    </ion-button>
                                </core-button-with-spinner>
                            } @else {
                                <ion-button fill="clear" (click)="login(site.id)" [ariaLabel]="'core.login.login' | translate" slot="end">
                                    <ion-icon name="fas-right-to-bracket" slot="icon-only" aria-hidden="true" />
                                </ion-button>
                            }
                        </ng-template>
                    </core-sites-list>
                </div>
            }
        </div>
    </core-loading>
</ion-content>
